/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f1f1f1;
}

/*  MENU LATERAL  */
aside {
    width: 260px;
    height: 100vh;
    background: #1c3c8c;
    color: #fff;
    padding-top: 30px;
    position: fixed;
}

nav h2 {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    cursor: pointer;
    padding: 15px 20px;
    font-size: 18px;
    transition: 0.3s;
}

nav li:hover {
    background: #162e6b;
}

.submenu {
    display: none;
    background: #243f8c;
}

.submenu li {
    font-size: 16px;
    padding-left: 40px;
}

.submenu li:hover {
    background: #162e6b;
}

/*  MAIN  */
main {
    margin-left: 260px;
    padding: 40px 50px;
    width: 100%;
}

/* Linha superior */
.part-cima {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.part-baixo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Container geral */
.container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/*  caixa de pesquisa  */
.search-box label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.search-row {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.search-row input {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #e6e9ef;
    font-size: 15px;
}

.btn-blue {
    padding: 0 28px;
    background: #1c3c8c;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-blue:hover {
    background: #162e6b;
}

/*  TITULOS  */
form h2 {
    font-size: 22px;
    margin: 30px 0 15px 0;
    color: #333;
}

/*  GRID DOS CAMPOS  */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    margin-bottom: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #444;
}

.field input,
.field select {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f7f8fa;
    font-size: 15px;
}

/*  BOTÕES  */
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.btn-white {
    background: #fff;
    border: 1px solid #ddd;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    color: #666;
    font-size: 15px;
}

.btn-white:hover {
    background: #f2f2f2;
}